Architecture: iphoneos-arm
Author: Karen Tsai (angelXwind)
Depends: net.angelxwind.appsyncunified
Description: Transitional package for AppSync Unified.
Maintainer: Karen Tsai (angelXwind)
Homepage: http://cydia.angelxwind.net/
Name: AppSync Unified Transitional Package (50plus)
Package: net.angelxwind.appsync50plus
Section: Tweaks
Version: 9.2
Depiction: http://cydia.angelxwind.net/?page/net.angelxwind.appsyncunified-transitional
Tag: cydia::obsolete
