Architecture: iphoneos-arm
Author: Karen/あけみ (angelXwind)
Depends: net.angelxwind.appsyncunified
Description: Transitional package for AppSync Unified.
Maintainer: Karen/あけみ (angelXwind)
Homepage: http://cydia.angelxwind.net/
Name: AppSync Unified Transitional Package (50plus)
Package: net.angelxwind.appsync50plus
Section: Tweaks
Version: 999.0
Depiction: https://cydia.angelxwind.net/?page/net.angelxwind.appsyncunified-transitional
Tag: cydia::obsolete
