Conflicts: us.hackulo.appsync50, us.hackulo.appsync50plus, com.hackyouriphone.appsync7, com.teiron.ppsync, appsync50plus2.25pp, com.linusyang.appsync, com.sull.appsyncunified, com.sull.appsyncunifiedbeta, com.xsellize.appsync50, com.xsellize.appsync50plus, appsync50plus.178, appsync50plus2.178
Depends: firmware (>= 5.0), mobilesubstrate (>= 0.9.5100), firmware (<= 12.4)
Depiction: https://cydia.akemi.ai/?page/net.angelxwind.appsyncunified
Maintainer: Karen/あけみ <karen@akemi.ai>
Homepage: https://cydia.akemi.ai/
Provides: appsync
Replaces: us.hackulo.appsync50
Package: net.angelxwind.appsyncunified
Name: AppSync Unified (NO A12 SUPPORT)
Version: 41.1-NoA12
Architecture: iphoneos-arm
Description: Enables the ability to install unsigned/fakesigned iOS applications.
Section: Tweaks
Author: Linus Yang, Karen/あけみ <karen@akemi.ai>
