Architecture: iphoneos-arm
Author: Karen Tsai (angelXwind)
Depends: net.angelxwind.appsyncunified
Description: Transitional package for AppSync Unified.
Maintainer: Karen Tsai (angelXwind)
Homepage: http://cydia.angelxwind.net/
Name: AppSync Unified Transitional Package (70plus)
Package: net.angelxwind.appsync70plus
Section: Tweaks
Version: 9.0
Depiction: http://cydia.angelxwind.net/?page/net.angelxwind.appsyncunified-transitional
