Architecture: iphoneos-arm
Author: Karen Tsai (angelXwind)
Depends: net.angelxwind.appsyncunified
Description: Transitional package for AppSync Unified.
Maintainer: Karen Tsai (angelXwind)
Homepage: http://cydia.angelxwind.net/
Name: AppSync Unified Transitional Package - AppSync for iOS 7.0+
Package: net.angelxwind.appsync70plus
Section: Tweaks
Version: 8.8
Depiction: http://cydia.angelxwind.net/?page/net.angelxwind.appsyncunified
