Package: com.linusyang.appinst
Name: App Installer
Priority: standard
Pre-Depends: firmware (>= 5.0)
Depends: net.angelxwind.appsyncunified (>= 5.1)
Version: 0.4-asu
Architecture: iphoneos-arm
Description: install ipa files from command line
Maintainer: Karen Tsai <angelXwind@angelxwind.net>
Author: Linus Yang <laokongzi+appsync@gmail.com>
Section: Utilities
Homepage: https://github.com/angelXwind/AppSync
Tag: role::enduser, purpose::console
Conflicts: com.sull.appinstaller
Depiction: http://cydia.angelxwind.net/?page/com.linusyang.appinst
